# dependencies
node_modules/

# build output
dist/
build/

# env files (rotate any leaked keys!)
.env*.local
.env

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo

# vite
*.local

# backup folders
types.bak/
